<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/synaptic/1.0.8/synaptic.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <script>
      var input = new synaptic.Layer(3); // Thrash Metal -  Death Metal  - Technical Death Metal
      var output = new synaptic.Layer(3); // Pantera  -  Between the buried and me  -  Death

      input.project(output);

      var trainingData = [
        {input: [1,0,0], output: [1,0.3,0.6]},
        {input: [0,1,0], output: [0.3,0.6,1]},
        {input: [0,0,1], output: [0.2,1,0.6]}
      ];

      var learningRate = 0.4;

      function train() {
        for(var i = 0; i < trainingData.length; i++)
        {
          input.activate(trainingData[i]["input"]);
          output.activate();
          output.propagate(learningRate, trainingData[i]["output"]);
        }
      }

      function retrain() {
          for(var i = 0; i < 1000; i++) {
              trainingData = _.shuffle(trainingData);
              train();
          }
      }
       
      retrain(); // Start the training

      input.activate([0.6,0.5,0.8]);
      var result = output.activate();

      console.log("Pantera: " + result[0] * 100 + "%");
      console.log("BTBAM: " + result[1] * 100 + "%");
      console.log("Death: " + result[2] * 100 + "%");


    </script>
  </head>
  <body>
    <button id = "metal">Metal</button>
      <button id = "instrumental">Instrumental</button>
  </body>
</html>
